* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 500px;
    height: 500px;
    background-color: lightcoral;
    animation-name: colors;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    /* animation-delay: 2s; */
}

@keyframes colors {
    0% {
        background-color: lightcoral;
    }

    25% {
        background-color: green;
    }

    50% {
        background-color: blue;
    }

    75% {
        background-color: violet;
    }

    100% {
        background-color: lightcoral;
    }
}