* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    background-color: pink;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    animation-name: box-move;
    animation-duration: 4s;
}

@keyframes box-move {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        top: 0;
        left: calc( 100% - 300px );
    }

    50% {
        top: calc( 100% - 300px );
        left: calc( 100% - 300px );
    }

    75% {
        top: calc( 100% - 300px );
        left: 0;
    }

    100% {
        left: 0;
        top: 0;
    }
}
