* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    background-color: pink;
    width: 500px;
    height: 300px;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s; */
    transition: all 2s linear 1s;
}

.box:hover {
    background-color: red;
    width: 700px;
}