* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.images {
    display: flex;
    justify-content: center;
}
.image {
    margin: 10px;
}
.image img {
    width: 300px;
    filter: grayscale(100%);
}
.image img:hover {
    filter: none;
}